.modal {
  position: absolute;
  width: 900px;
  height: 450px;
  background-color: rgb(46, 48, 54);
  border-radius: 10px;
  z-index: 3;
  display: flex;
  flex-direction: row;
}

.modal p {
  color: black;
}

.modal-image {
  width: 50%;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.modal-title {
  margin-left: 1.6rem;
  margin-top: 1.5rem;
}

.modal-title p {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}
