.experience {
  margin-top: 100px;
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.title h1 {
  font-size: 5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.aws {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aws img {
  width: 600px;
  opacity: 25%;
}
