.close-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-color: black;
  z-index: 3;
  cursor: default;
}

.modal-wrapper {
  display: flex;
  position: fixed;
  top: 15%;
  z-index: 3;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.proj-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-title h1 {
  font-size: 4rem;
}

.cards {
  display: flex;
  gap: 20px;
  z-index: 2;
}

.projects-underline {
  position: absolute;
  background-image: linear-gradient(164deg, rgb(255, 226, 99) 20%, rgb(255, 123, 0) 100%);
  width: 22rem;
  height: 0.2rem;
  transform: translate(0rem, 2rem);
  z-index: -1;
}
